name = "dattapay-webapp"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
main = ".open-next/worker.js"

# Static assets configuration
[assets]
directory = ".open-next/assets"
binding = "ASSETS"
